body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background: linear-gradient(25deg, rgba(255, 255, 255, 0.5), rgba(181, 133, 133, 0.5));
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  font-size: xx-large;
  min-height: 7vh;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

input {
  border-radius: 8px;
  border: 1px solid black;
  width: 30vw;
  font-size: x-large;
  padding: 0 6px;
  margin-left: 20vw;
}

.container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr;
  height: calc(100vh - 7vh);
  overflow: hidden;
}

.sideBar {
  padding: 20px;
  font-size: small;
  overflow-y: auto;
  height: 100%;
}

.showWeatherData {
  padding: 20px;
  font-size: xx-large;
  overflow-y: auto;
  height: 100%;
}

.data {
  padding: 30px 15px;
  background: linear-gradient(25deg, rgba(255, 255, 255, 0.5), rgba(181, 133, 133, 0.5));
  border-radius: 20px;
}

.inputs {
  display: flex;
  gap: 20px;
}

.dayForecast {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid black;
  border-radius: 10px;
  padding: 4px;
  font-size: x-large;
  margin-bottom: 1vh;
}

.boxForWidgets {
  display: flex;
  flex-wrap: wrap;
}

.widget {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 30px;
  border-radius: 20px;
  width: fit-content;
  margin-top: 20px;
  margin-right: 20px;
}

.boxForTenDays {
  background-color: rgba(105, 105, 105, 0.5);
  padding: 10px;
  font-size: x-large;
  border-radius: 20px;
}

button {
  background-color: gainsboro;
  border: 0;
  border-radius: 10px;
  color: black;
}

button:hover {
  background-color: azure;
}
