html:root {
  font-size: large;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background: linear-gradient(25deg, rgba(255, 255, 255, 0.5), rgba(36, 36, 36, 0.5));
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  min-height: 7vh;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

input {
  border: 2px solid black;
  width: 30vw;
  font-size: 1.5rem;
  padding: 0 6px;
  border-radius: 2px;
}

.deleteInputValue:active {
  background-color: red;
}

.hourBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.icon {
  width: 7rem;
}

.container {
  display: grid;
  grid-template-columns: 2fr 4fr; 
  grid-template-rows: 1fr;
  height: calc(100vh - 7vh);
  overflow: hidden;
  gap: 0.5rem; 
}

img {
  height: 5rem;
  border-radius: 10px;
}

.sideBar {
  padding: 20px;
  font-size: 1rem;
  overflow-y: auto;
  height: 100%;
}

.showWeatherData {
  padding: 20px;
  font-size: 1.5rem;
  overflow-y: auto;
  height: 100%;
}

.data {
  padding: 30px 15px;
  background: linear-gradient(25deg, rgba(255, 255, 255, 0.5), rgba(36, 36, 36, 0.5));
  border-radius: 20px;
}

.inputs {
  display: flex;
  justify-content: end;
  background-color: gainsboro;
  border-radius: 10px;
  padding: 4px;
  align-items: center;
}

.dayForecast {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid black;
  border-radius: 10px;
  padding: 4px;
  margin-bottom: .7rem;
}

.hour{
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  overflow: scroll;
  scroll-behavior: smooth;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
}

.boxForWidgets {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5rem;
}

.widget {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 30px;
  border-radius: 20px;
  width: fit-content;
  margin-top: 20px;
  margin-right: 20px; 
}

.boxForTenDays {
  background-color: rgba(105, 105, 105, 0.5);
  padding: 10px;
  font-size: 1.5rem;
  border-radius: 20px;
  margin-bottom: 5rem;
}

button {
  background-color: gainsboro;
  border: 0;
  color: black;
}

button:hover {
  background-color: azure;
}

.credit {
  position: fixed;
  bottom: 15px;
  right: 15px;
}

.credit button {
  padding: 10px;
  font-size: 1rem;
  border-radius: 10px;
}

#loadingBarContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: #f3f3f3;
  z-index: 9999;
  display: none; /* Initially hidden */
}

#loadingBar {
  height: 100%;
  width: 0;
  background-color: #4caf50;
}

.divs {
  display: flex;
  flex-direction: column;
}

.fetchCityButton {
  border-radius: 0 10px 10px 0;
  font-size: 2rem;
}

.deleteInputValue {
  border-radius:  10px 0 0 10px ;
  font-size: 2rem;
}

#clock {
  border-radius: 50%;
  height: 8vh;
  width: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #444;
  background-color: #ffffff;
  font-weight: bold;
  border: 3px dashed black;
  position: relative;
  padding: .5rem;

}

#time {
  z-index: 2;
  font-size: 1rem;
  position: absolute; 
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hand {
  position: absolute;
  width: 2px;
  height: 45%;
  background-color: black;
  top: 50%;  
  left: 50%; 
  transform-origin: 50% 0%;
  transition: transform 0.1s linear;
}

.clocks {
  display: flex;
  gap: 2rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  flex-wrap: wrap;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.toggleValue {
  margin-right: 10vw;
}

a:hover {
  background-color: green;
  color: white;
}

.pastHour {
  background-color: grey;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
    min-height: 230vh;
    overflow-y: scroll; 
  }
  
  .sideBar {
    padding: 20px;
    font-size: 1rem;
  }
  
  .showWeatherData {
    padding: 20px;
    font-size: 1.5rem;
  }

  header {
    min-height: fit-content;
  }
}